<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      麦云分享_技能学习、素材资料、网赚教程、推广营销、软件工具、程序源码等实用互联网资源的交流平台
    </title>
    <meta name="robots" content="max-image-preview:large" />
    <meta
      name="keywords"
      content="技能学习、素材资料、网赚教程、推广营销、软件工具、程序源码下载"
    />
    <meta
      name="description"
      content="麦云分享是一个技能学习、素材资料、网赚教程、推广营销、软件工具、程序源码等实用互联网资源的分享平台。"
    />
    <script src="/iconfont.js"></script>
    <!-- <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
      // VConsole 默认会挂载到 `window.VConsole` 上
      var vConsole = new window.VConsole()
    </script> -->
    <meta name="referrer" content="never" />
  </head>
  <body οncοntextmenu="return false" onselectstart="return false">
    <div id="app"></div>
    <% if (process.env.NODE_ENV === 'production' ) { %>
    <script>
      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?2cf918eb0b51d9df24f10ffdbb8bcd8d'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>
    <% } %>
    <script type="module" src="/src/main.ts"></script>
    <!-- built files will be auto injected -->
    <!-- IE 浏览器跳转提示升级页面 start -->
    <script>
      if (/*@cc_on!@*/ false || (!!window.MSInputMethodContext && !!document.documentMode)) {
        window.open(
          'https://support.dmeng.net/upgrade-your-browser.html?referrer=' +
            encodeURIComponent(window.location.href)
        )
      }
    </script>
    <!-- IE 浏览器跳转提示升级页面 end -->
    <script>
      function isIE() {
        if (!!window.ActiveXObject || 'ActiveXObject' in window) {
          return true
        } else {
          return false
        }
      }
    </script>
  </body>
</html>
