.page {
  font-size: 15px !important;

  @media screen and (max-width: 992px) {
    .goods-info {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 992px) {
    .goods-info {
      margin-left: 30px;
    }
  }

  .comment {
    width: 100%;

    ::v-deep {
      img {
        width: 100% !important;
        height: auto !important;
        object-fit: cover !important;
        margin: 10px 0 !important;
      }

      p,
      div {
        font-size: 15px !important;
        line-height: 27px !important;
      }
    }
  }

  .notice .el-card__body p {
    font-size: 14px !important;
  }

  .notice strong {
    display: flex;

    &::before {
      display: block;
      content: '';
      width: 3px;
      height: 14px;
      background: $primary-color;
      border-radius: 8px;
      margin-right: 6px;
      position: relative;
      top: 4px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px -1px $primary-color;
    }
  }

  .total {
    display: flex;
    align-items: center;

    ::v-deep(.el-tag__content) {
      display: flex;
      align-items: center;

      .discount {
        position: relative;
        top: 1px;
      }
    }

    ::v-deep(.el-checkbox) {
      margin-left: 5px;
      height: 0px;

      .el-checkbox__inner {
        background-color: transparent;
        // border-radius: 50%;
      }

      &.is-checked {
        .el-checkbox__inner {
          background-color: #409eff;
          border-color: #409eff;
        }
      }
    }

    .points-select {
      display: flex;
      align-items: center;
    }
  }

  .good-price {
    color: #f54e4e;
    font-size: 16px;
    .unit {
      display: inline-block;
      transform: scale(0.8);
    }
    .price {
      position: relative;
      left: 2px;
    }
  }

  .cover {
    width: 100%;
    text-align: center;
    ::v-deep(.el-image) {
      border-radius: 3px;
      height: 350px;
      max-height: 350px;
      margin: 0 auto;
      max-width: 100%;
      display: block;
      border: 1px solid #f0f2f5;

      img {
        max-width: 350px;
        height: 350px;
        max-height: 350px;
      }
    }
  }

  .tag-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

    ::v-deep(.el-button) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      font-size: 13px;
      padding: 18px 24px;
      margin-bottom: 5px;
      margin-left: 0px;
      margin-right: 12px;
      border: none;
      outline: none;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);

      &:last-child {
        margin-right: 0px;
      }

      &::before {
        content: '';
        position: relative;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 1.2px;
        background: #409eff;
        box-shadow: 5px -6px #409eff, 5px 6px #409eff;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 1s, 0.5s, 0s, 0s;
      }
    }
  }
}
