// $--colors: (
//   'primary': (
//     'base': #40a082
//   )
// );

$--colors: (
  'primary': (
    'base': #409eff
  )
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $footer: (
    'padding': 0,
    'height': 30px
  ),
  $header: (
    'padding': 0,
    'height': 64px
  ),
  $menu: (
    // 'text-color': #fff,
    // 'active-color': #fff,
    // 'bg-color': #001529,
    // 'hover-text-color': #fff,
    // 'item-hover-fill': #40a082,
    // 'hover-bg-color': #40a082
  )
);

// 如果你想导入所有样式:
// @use 'element-plus/theme-chalk/src/index.scss' as *;
