.page_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $footer-height;

  .page_footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
